/* Inicio nav data */
nav{
    padding: 0px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;  
    align-content: center;
}

nav img{
    border-radius: 25px;
}
nav .left-side .tittle-logo{
margin-top: 55px;
}
nav .left-side{ /* Disposición de elementos lado izquierdo */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}
nav .right-side .right-side-list{ /* Disposición de los elementos lado derecho*/
    display: flex;
}
.right-side{
    margin: 0px 0px 0px 0px;
}
.right-side .right-side-list{ /* tamaño lista en el container */
    margin: 0px 0px 0px 0px;
    height: 100%;
}

.right-side-list li a{ /* Color letra lista, sombra, separación entre elementos */
    text-decoration: none;
    color: black;
    margin-right: 25px;
    
}
.right-side-list li{
    margin: 55px 0px 55px 0px;
    list-style: none;
    margin-right: 10px;
}

nav .right-side-list li a:hover{ /* Hover en los elementos de la lista nav */
    animation-name: anm-big;
    animation-duration: 1200ms;
    color:rgb(9, 9, 151, 0.8);
}


/* Fin nav data */
/* Inicio body */
body{
    margin-bottom: 0px;
    overflow: scroll;  
    overflow-x: hidden;
    background: -webkit-linear-gradient(left,rgb(33, 22, 136),rgb(32, 74, 189), rgb(105, 105, 221), rgba(23, 103, 194, 0.979));
}
.container-data{
    
    transition: 0.35s;
}

.container .tittle-container{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.container-input{
    width:100% ;
    height:auto ;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 40px;
}
.container-data a img{
    height: 150px;
    width: 180px;
    border-radius: 40px 40px 40px 40px ;
    border-color: rgba(0,0,0,0.23);
}
.agregar-carrito{
width: 80px;
height: 25px;
margin-left: 5px;
background: -webkit-linear-gradient(left,rgb(33, 22, 136),rgb(32, 74, 189), rgb(105, 105, 221), rgba(23, 103, 194, 0.979));
border-radius: 25px;
}
.eliminar-carrito{
    width: 80px;
    background: -webkit-linear-gradient(left,rgb(33, 22, 136),rgb(32, 74, 189), rgb(105, 105, 221), rgba(23, 103, 194, 0.979));
    height: 25px;
    margin-right: 5px;
    border-radius: 25px;
}
.nro-carrito{
width: 50px;
height: 20px;

border-radius: 25px;
border-color: black;
align-items: center;
margin: 0px 0px 0px 0px;
}
.txt-data{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
}
.container .main-container{
   position: relative;
    display: flex;
    list-style: none;
    padding: 0px;

}
 .list-container {
    width: 300px;
    height: 350px;
    position: relative;
   
    font-size: 20px;
    border-radius: 25px ;
    border-width: 5px;
    transition: 0.5s;
    margin: 20px 0px 20px 20px;
    /* -webkit-box-shadow: 9px 19px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px 19px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 9px 19px 5px 0px rgba(0,0,0,0.23); */
}
.main-container a{
    text-decoration: none;
    text-align: center;
    color: black;
}

/* importante! */

.container-data:hover{
    border-radius: 25px;
    border-color: black;
    transform: scale(1.2);
}
/* importante! */

.agregar-carrito:hover{
    color: black;
    border-color: black;
    transition: 0.5s;
    background: -webkit-linear-gradient(left,rgb(33, 22, 136),rgb(32, 74, 189), rgb(105, 105, 221), rgba(23, 103, 194, 0.979));

}
.container-presentacion{
    font-size: 25px;
    margin: 30px 0px 30px 0px;
}
.nro-carrito:hover{
    cursor: text;
}
.nro-carrito :focus{
    position: absolute;
}
.eliminar-carrito:hover{
    color: black;
    border-color:black;
    transition: 0.5s;
    background: -webkit-linear-gradient(left,rgb(33, 22, 136),rgb(32, 74, 189), rgb(105, 105, 221), rgba(23, 103, 194, 0.979));

}

/* Inicio parte de mision y vision */
.info-container {
display: flex;
padding: 20px;
justify-content: center;
text-align: center;
}
.info-container-mision{
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.23);
box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.23);
    margin-right: 20px;
    border-radius: 20px;
    width: 400px;
    height: 450px;
}
.info-container-vision{
    margin-left: 20px;
    border-radius: 25px;
    border-color: black;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.23);
box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.23);
    width: 400px;
    height: 450px;
    

}
.info-container .img-info-container img{
    height: 150px;
    width: 180px;
    border-radius: 40px 40px 40px 40px ;
    border-color: rgba(0,0,0,0.23);
}







/*  Fin parte de mision y vision*/

/* Fin body */
footer {
    padding: 20px;
    align-items: flex-end;
    text-align: center;
}

/* Inicio animaciones */

@keyframes anm-big{ /* Animación hover lista nav */
    0%{
    font-size: 15px;
    }
    50%{
    font-size: 17px;
    }
    100%{
        font-size: 15px;
    }
}

@keyframes tittle-container{

}

/* Fin animaciones */